@import url('../styles/components/button.css'); 
@import url('../styles/components/main-section.css'); 
@import url('../styles/components/service-info-section.css'); 
@import url('../styles/components/contribute-section.css'); 
@import url('../styles/components/case-studies-section.css'); 

:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  min-width: 100%;
}

.container{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container-header {
  width: 100%;
  min-height: 79px;
}